.licitacija {
    text-align: center;
    margin: 20px 0;
    font-family: "Bai Jamjuree", sans-serif;
}

.licitacija .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Bai Jamjuree", sans-serif;
}

.option {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    font-family: "Bai Jamjuree", sans-serif;
}

.option:hover {
    background-color: #f0f0f0;
}

.option.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
