.player-hand {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centriraj ruku igrača */
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}


  .player-hand .cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* ako želiš da se karte prelamaju u novi red na manjim ekranima */
  }

.card {
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card.played {
    visibility: hidden;
  }

.card img {
    max-width: 80px;
    height: auto;
    display: block;
}

.card2.selected,
.card.selected {
    border: 2px solid red;
    opacity: 0.8;
}

/* PlayerHand.css */
@media (max-width: 1000px) {
    .player-hand {
      padding: 2px;
      margin-bottom: -10%;
      position: fixed;
    }
    
    .player-hand .cards {
      gap: 3px;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 2px;
    }
    
    .card {
      min-width: 43px;
      border: none;
    }
    
    .card img {
      max-width: 45px !important;
      height: auto;
    }
  
    .error-message {
      font-size: 10px;
      margin: 3px 0;
    }
  }