.player-hand {
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.player-hand .cards {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 80px;
    height: auto;
    display: block;
}

.card2.selected,
.card.selected {
    border: 2px solid red;
    opacity: 0.8;
}


