.talon {
    text-align: center;
    margin-bottom: 20px; /* Dodaje razmak između talona i ostalih elemenata */
    z-index: 1000;
}

.talon .cards2 {
    display: flex;
    justify-content: center; /* Poravnava karte horizontalno */
    gap: 15px; /* Povećava razmak između karata */
}

.card2 {
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card2 img {
    max-width: 90px; /* Povećava širinu karata za bolju vidljivost */
    height: auto;
    display: block;
    margin: 0 auto;
}

.card2.selected,
.card.selected {
    border: 2px solid red;
    opacity: 0.8;
}

